* {
    transition: background-color 0.1s linear, color 0.12s linear;
}

:root {
    --text-color: #000000;
    --background-color: #ffffff;
    --nav-background-color: #ffffff;
    --grid-background-color: #ffffff;
    --hover-color: rgba(166, 166, 166, 0.3);
    --title-highlight-color: red;
    --title-container-color: rgba(255,255,255,0.8);
    --gdd-icon: url("../Images/sig_logo_light.svg");
    --theme-icon: url("../Images/light_off.svg");
}

.dark-mode {
    --text-color: #ffffff;
    --background-color: #121212;
    --nav-background-color: #141414ff;
    --grid-background-color: #1F1B24;
    --hover-color: rgba(232, 232, 232, 0.24);
    --title-highlight-color: crimson;
    --title-container-color: rgba(0,0,0,0.8);
    --gdd-icon: url("../Images/sig_logo_dark.svg");
    --theme-icon: url("../Images/light_on.svg");
}

#gdd-logo {
    content: var(--gdd-icon);

}

#theme-toggle-icon {
    content: var(--theme-icon);
}



#toolbar-items {
    margin-left: auto;
    padding-top: 0.5em;
    margin-right: 0.2em;
}

.toolbar-text {

    margin-right: 1em;
}

#navbar {
    z-index:2;
    position: absolute;
    width: 100%;
    background-color: var(--nav-background-color) !important;
    color: var(--text-color);
    box-shadow: 2px 2px #444267;
    height: 12.5em;
    padding-left: 3px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.navbar{
    margin: 0 !important;
    padding: 0 !important;
}

.dark-mode-button{
    cursor: pointer;
}

.navbar-brand {
    margin-left: 5rem;
    height: 5.5em !important;
}

.dark-mode-button{
    position: absolute;
    right: 5rem;
}

.nav-item {

    font-size: 2em;
    margin-left: 7em;
    font-weight: bold;
    font-family: "Courier New";
}

.navbar-nav.mr-auto {
    margin-left: auto !important;
    margin-right: 17.5rem !important;
}

.nav-link, .dropdown-item {
    color: var(--text-color) !important;
}


.dropdown-item
{
    font-size: 1.5em;
}

.dropdown-item:hover {
    background: var(--hover-color) !important;
}

.dropdown-menu {
    background:  var(--background-color) !important;

}

.navbar-toggler {

    position: absolute;
}

#theme-toggle-icon {
    margin-right: 1em;
}
