@media (min-width: 990px) {
    #title-container{
        margin-right: 2rem !important;
        margin-left: 0 !important;
    }
}
@media (min-width: 1500px) {
    #title-container{
        margin-right: 0 !important;
        margin-left: 0 !important;
    }
}

#title-container{
    max-width: 90%;
    margin: auto;
    padding-top: 2em;
    padding-bottom: 2em;
    position:relative;
    font-size: 5rem;
    font-weight: bold;
    font-family: "Courier New";
    color: var(--text-color);
    text-align: center;
    border-radius: 1em;
    background-color: var(--title-container-color);
    background-image: var(--title-background-color);
}

#title-highlight{
    color: var(--title-highlight-color)  !important;
}

#intro-paragraph{
    margin-top: 1rem;
    width: 100% !important;
    font-size: 2.1rem;
    font-family: "Courier New";
}
.background-image{
    position: relative;
    overflow: auto;
    background-image: url("../Images/background_image_v2.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

#container-fluid{
    max-width: 1450px !important;
    margin-top: 12.5rem;
    height: calc(100% - 12.5em);
}

.adventure-button{
    width: 250px;
    padding: 15px;
    text-align: center;
    font-size: 0.35em;
    margin: 0;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid var(--title-highlight-color);
    background: transparent;
    color: var(--text-color);
    cursor: pointer;
    transition: all 0.5s;
    
 
}

.adventure-button span{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.adventure-button span:after {
    content: "\00bb";
    position: absolute;
    opacity: 0;
    top: -0.1em;
    right: -1em;
    transition: 0.5s;
}

.adventure-button:hover span {
    padding-right: 1.2em;
}

.adventure-button:hover span:after{
    opacity: 1;
    right: 0;
}

#content-container{
    height: 100%;
}


