@font-face {
    font-family: mon-font;
    src: url(./font/montserratregular.ttf);
}

@font-face {
  font-family: mon-bold-font;
  src: url(./font/montserratbold.ttf);
}



* {
    font-family: mon-font;
   
}





body, html {
  height: 100%;
    scroll-behavior: smooth;
  
}





#social-media {

  float: left;

  margin-top: 8em;
}

.social-icon {

  height: 1.7em;
  margin-bottom: 0.5em;
  width: 1.7em;
}

#and {

  opacity: 0.8;
}


#scroll-div {
    
    text-align: center;
}
#scroll {

  display: block;
  
 
  opacity: 0.5;
    -webkit-animation: action 1s infinite  alternate;
    animation: action 1s infinite  alternate;  
}


#scroll-normal {

    display: block;
    
    text-align: center;
    opacity: 0.5;
    -webkit-animation: action 1s infinite  alternate;
    animation: action 1s infinite  alternate;
}


#scroll-arrow {

  margin-bottom: 0.3em;
  opacity: 0.6;

}



#portfolio-header-div {
    text-align: center;
    margin-bottom: 4em;
    
    background-image: url("../images/confetti.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}


#portfolio-header {

    font-size: 4em;
    font-family: mon-bold-font;
    
  
}



.fourth-section {




    background-image: url("../images/header1.jpg");


    opacity: 80%;
    background-size: contain;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
}



.title {

  font-family: mon-bold-font;
  font-size: 5em;
  border-bottom: 1px solid rgb(224, 224, 224);
}

#description-header {

  padding-top: 10em;
  text-align: center;
}


#front-grid, .row {

  height: 100%;
}



.bg {
    
  /* The image used */
  background-image: url("../images/avatar1.png");

  margin-top: 1em;
  /* Full height */
  height: 90%;

  /* Center and scale the image nicely */
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    min-height: 650px;
}





.image-load {
    position: absolute;
 
    bottom: 20em;
    left: 20em;
    
}



#copy-right-header {
    padding-top: 0.5em;
   text-align: center;
    opacity: 30%;
    font-size: 0.9em;
    

}











#toolbar-items {
  
  margin-left: auto;
  padding-top: 0.5em;
    
  margin-right: 0.2em;
}

.toolbar-text {

    margin-right: 1em;
}



#navbar {
    z-index:2;
    position: fixed;
    width: 100%;
    background-color: #fafafa;
    height: 2.7em;
    box-shadow: 2px 2px #444267;
    padding-left: 7px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}


#social-media-header {
    writing-mode: vertical-rl;
    margin-right: 0.5em;
    opacity: 60%;
    


}

#portfolio-body-div {
    
    text-align: center;
 
 
}

.portfolio-body-header {
    
    background-color: #d77323;
    
    border-radius: 10%;
    
    background-image: url("../images/medal.png");
    /* Center and scale the image nicely */
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    
    height: 200px;
    width: 250px;

    box-shadow: 0 3px 3px rgb(0 0 0 / 0.2);
    
    margin-bottom: 1em;
    
}


.portfolio-body-title-div {
    
    text-align: center;
    
    margin-bottom: 1em;
}

.portfolio-body-title {
    font-family: mon-bold-font;
    font-size: 1.5em;
    
}


.portfolio-body-description {
    
    padding: 1em;
    font-size: 0.7em;
    height: 100px;
}

.portfolio-body {
    border-radius: 10%;
    background-color: #dddddd;
    height: 500px;
    width: 250px;

    box-shadow: 5px 4px 5px rgb(0 0 0 / 0.2);
    
    display:inline-block;
    
    margin: 2.5em;
  


}

.portfolio-button {
 
    margin-top: 5em;
}


.language-tool-tip-div {
    
    text-align: center;
}

.language-tool-tip {

    background-color: #d77323 !important;

    margin: 0.4em;
    letter-spacing: 1px;
}

.btn.btn-secondary.btn-sm.portfolio-button-sm {
    
    background-color: #d77323;
    border-color: #d77323;
}

.btn.btn-secondary.btn-sm.portfolio-button-sm:hover, .btn.btn-secondary.btn-sm.portfolio-button-sm:focus
{
    background-color: #b56022;
    border-color: #b56022;
    
}


#about-me-header-div {
    
    text-align: center;
    
    margin-top:2em;
    
}
#about-me-header
{
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-family: mon-bold-font;
    font-size: 1.5em;
    
    margin: 0em;
}

#about-me-speech-icon {
    transform: scaleX(-1);
    
}

.opac-icons {
    opacity: 20%;
}

.opac-icons2 {
    opacity: 30%;
}

.progress-bar {
    background-color: #d77323 !important;
}

.progress {
    background-color: #f3ddca !important;
  
    
}



.badge.badge-dark {
    font-size: 0.7em;

    
}

/* unvisited link */
#linkedin-link:link {
    color: #d77323;
}

/* visited link */
#linkedin-link:visited {
    color: #d77323;
}

/* mouse over link */
#linkedin-link:hover {
    color: #d77323 !important;

}

/* selected link */
#linkedin-link:active {
    color: #d77323;
}




#programming-header-div {
    text-align: center;
    
    margin-bottom: 2em;
}

#programming-header {
    font-family: mon-bold-font;
    
    
}

.skill-set-icons-enlarged {
    
    width: 25px;
    height: 25px;
    margin-bottom: 0.1em;
}


.skill-set-icons {
    
    width: 15px;
    height: 15px;
    
    margin-bottom: 0.2em;
}

.skill-set {
    
    margin-bottom: 1em;
}



.skill-set-name {
    margin-left: 0.3em;
    display: inline-block;
    width: 50px;
    text-align: left;
}

#about-me-description {
    
    padding: 1em;

    
    
    border-radius: 2%;
    background-color: #f6f6f6;
}

#about-me-icon {
    border-radius: 50%;
    
    height: 15em;
    width: 15em;
    margin-bottom: 15em;
    margin-left: 3em;
}



#background-image-2 {
    background-image: url("../images/header1.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    
    height: 250px;
    width: 100%;
    margin-bottom: 1em;
    border-radius: 30%;
}


.first_section {
    
    margin-bottom: 5em;

    
}


.second_section {
    margin-top: 5em;
    padding-top: 5em;
    
    background-color: #fafafa ;
    
    margin-bottom: 4em;
}

.social-icons {
    margin-top: auto;
    margin-bottom: auto;
 
}

#toolbar-filename {
    margin-right: 10em;
}

.toolbar-dot {
    height: 1em;
    width: 1em;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
  
    margin-right: 1em;
  }

  #toolbar-filename-div {
      text-align: center;
      width: 100%;
  }


  #toolbar-minimize {

    background-color: #ffcb6b;
  }

  #toolbar-maximize {
      background-color: #c3e88d;
  }

  #toolbar-close {
      background-color: #f07178;
  }








  .side-toolbar-icons {
    filter: invert(46%) sepia(15%) saturate(889%) hue-rotate(193deg) brightness(91%) contrast(89%);

    width: 2.5rem;
    height: 2.5rem;
    margin-right: 0.3em;
    cursor: pointer;
    



  }

  
  .side-toolbar-icons:hover {
    filter: invert(46%) sepia(15%) saturate(889%) hue-rotate(193deg) brightness(91%) contrast(89%);

    border-left: 3px solid #292D3E;
    width: 3rem;
    height: 3rem;
    margin-right: 0.3em;
    cursor: pointer;
    



  }

  #side-toolbar-div {
      text-align: center;
     
      
  }

  #side-toolbar-active {
    padding-bottom: 0.3em;
  }


  
  .col-sm.skill-set-title {

      max-width: 30%;
  }

.col-sm.skill-set-progress {

    padding-top: 0.3em;
}

  
  .skill-set {
      
      text-align: center;
    
  }



::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #E76F51;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #F0613D;
}

::selection {
    background: #f19650;
}


@-webkit-keyframes action {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}

@keyframes action {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}

@media screen and (max-width: 480px) {
    .bg {

        min-height: 250px;

    }

    #scroll-div {

        margin-top: 5em;
    }

    #about-me-header-div {
        
        height: 300px;
    }
   
  
}